<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 숙소 카테고리별 조회 -->
	<entry key="selectLodgingList">SELECT LOD_NO,LOD_NAME,LOD_ADDRESS,FILE_PATH||CHANGE_NAME THUMBNAIL 
									FROM LODGING L 
									JOIN PHOTO P USING (LOD_NO) 
									JOIN LOD_CATEGORY LC USING(LOD_CATEGORY_NO) 
									WHERE LOD_CATEGORY_NAME = ? 
									AND L.STATUS ='Y'
	</entry>
	<entry key="selectDetailLodging">SELECT LOD_NO,LOD_NAME,LOD_ADDRESS,LOD_INFO,LOD_CATEGORY_NAME,FILE_PATH||CHANGE_NAME THUMBNAIL,ROOM_NO,ROOM_NAME,ROOM_INFO,LD.PHOTO_NO
									FROM LODGING L
									JOIN PHOTO P USING (LOD_NO) 
									LEFT JOIN LODGING_DETAIL LD USING(LOD_NO)
									JOIN LOD_CATEGORY LC USING(LOD_CATEGORY_NO)
									WHERE LOD_NO=?
	</entry>
	<enrty key="selectReview"></enrty>

</properties>