<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT * 
		FROM MEMBER
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS = 'Y'
	</entry>
	<!-- 회원 정보 수정 -->
	<entry key="updateMember">
		UPDATE MEMBER SET PHONE=? , EMAIL=?, ADDRESS=?,MODIFY_DATE = SYSDATE WHERE USER_ID=? AND STATUS='Y'
	</entry>
	<!-- 프로필 사진 수정 -->
	<entry key="updateProfile">
		UPDATE PHOTO SET ORIGIN_NAME = ?,CHANGE_NAME=?,FILE_PATH=? WHERE USER_ID=? 
	</entry>
	<!-- 프로필 사진 조회 -->
	<entry key="selectProfile">
		SELECT FILE_PATH||CHANGE_NAME THUMBNAIL FROM PHOTO WHERE USER_ID = ? AND STATUS='Y'
	</entry>
	<!-- 회원 비밀번호 변경 -->
	<entry key="updatePwd">
		UPDATE MEMBER SET USER_PWD=?,MODIFY_DATE = SYSDATE WHERE USER_ID=? AND USER_PWD=? AND STATUS='Y'
	</entry>	
	<entry key="deleteMember">
		UPDATE MEMBER SET STATUS='N', MODIFY_DATE = SYSDATE WHERE USER_ID=?
	</entry>
</properties>